<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <link rel="stylesheet" type="text/css" href="./static/css/home.css">
</head>
<body>
    
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div id="bg"></div>
        <div class="form-field">
            <p>upload the Blueprint</p>
        <input type="file" name="file">
        <a href='uploads'>
            <button class="btn" value="Upload">Upload</button>
        </a>
    </div>
    </form>

   
    
</body>
</html>
