<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="./static/css/home.css">
    <head>
    <body>
        <form>
            <div id="bg"></div>
            <div class="form-field">
            <p >Select the option</p>
            <button class="btn"><a href='blueprint_upload.html'>BLUEPRINT</a></button>
            <button class="btn"><a href='specification.html'>SPECIFICATION</a></button>
            </div>
        </form>
    </body>
<html>