<!DOCTYPE html>
<html>
    <head>
        <title>RPV</title>
        <link rel="stylesheet" type="text/css" href="./static/css/index.css">
       
    </head>
    <body>
        <div id="bg"></div>
        <form>
        <div class="form-field">
        <h1>
            WELCOME TO RESIDENTIAL PROPERTY VALUTION
        </h1>
        </div>
        

        <div class="form-field">
        <p>New to the website.click here to register</p>
        <br>
        <br>
        <button class="btn"><a href="register.html">Register</a></button>
        </div>

        <div class="form-field">
        <p>Already have account?</p>
        <br>
        <br>
        <button class="btn" ><a href="login.html">Login</a></button>
        </div>
       

        

    </form>
    </body>
</html>